// Palette
$primary-color: #2563eb;
$secondary-color: #38bdf8;
$accent-color: #a78bfa;
$primary-red: #ef4444;
$primary-blue: #2563eb;
$primary-blue-light: #3b82f6;
$primary-cyan: #38bdf8;
$primary-cyan-light: #a7f3d0;
$primary-yellow: #fbbf24;
$primary-yellow-light: #fde68a;
$primary-gray: #f1f5f9;
$primary-gray-dark: #e0e7ef;
$primary-gray-blue: #e0e7ff;
$primary-black: #222;
$primary-white: #fff;
$primary-shadow: rgba(30, 41, 59, 0.1);
$primary-shadow-light: rgba(30, 41, 59, 0.08);
$primary-shadow-blue: #e3eaff;
$primary-shadow-blue-strong: #38bdf855;
$primary-shadow-blue-verylight: #e3eaff33;
$primary-shadow-blue-border: #bae6fd;
$primary-shadow-blue-border-strong: #b6e0fe;
$primary-dark: #1e293b;
$primary-dark-blue: #003087;
$primary-dark-cyan: #0ea5e9;
$primary-dark-yellow: #fde047;
